#top-validation {
  position: relative;
  top: -100px;
  .top-validation {
    h1 {
      font-size: 32px;
      font-weight: 700;
      color: #ffffff;
      padding-bottom: 25px;
    }
    swiper-container {
      swiper-slide {
        position: relative;
        img {
          border-radius: 8px;
        }
        p {
          font-size: 24px;
          font-weight: 500;
          color: #ffffff;
          position: absolute;
          bottom: 25px;
          left: 25px;
        }
      }
    }
  }
}
