#viewed {
  .viewed {
    h1 {
      font-size: 32px;
      font-weight: 700;
      color: #000000;
      padding-bottom: 25px;
    }
  }
  .cards {
    @extend %card;
    display: flex;
    gap: 10px;
    .card-summer {
      background-image: url("../image/image 26.png");
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 330px;
      border-radius: 16px;
      padding: 50px 20px;
      h2 {
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
      }
      p {
        color: #ffffff;
      }
    }
  }
}
